*{
    margin: 0;
    padding: 0;
}
.main-section{
    display: flex;
    align-items: center;
    height: 720px;
    background:#F0F2F5;
}
.container{
    width: 985px;
    margin: 0 auto;
}
.col-left{
    width: 50%;
    float: left;
    align-items: center;
    margin: 70px 0 60px 0;
}
.col-right{
    width: 45%;
    float: right;
    margin-left: 5%;
}
.clear-fix{
    clear: both;
}


.col-left h2{
    font-size: 80px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    /* font-family: Helvetica Arial sans-serif; */
}
.col-left p{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
    color: #000;
    font-weight: 500;
}


.form-sec{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-sec a, p{
    color: #1877F2;
    text-decoration: none;
    margin-bottom: 20px;
}

.form-sec input{
    display: block;
    width: 90%;
    height: 10px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: 2px solid #DDDFE2;
    font-size: 16px;
}

#login-btn{
    width: 100%;
    margin-bottom: 20px;
    background: #1877F2;
    color: white;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 700;
}

hr{
    height: 2px;
    border: none;
    background: #DDDFE2;
}
#create-btn{
    background: #36A420;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0;
}
.text-p{
    color: black;
    margin-top: 30px;
    text-align: center;
    font-weight: 500;
}
.text-p a{
    font-weight: bold;
    text-decoration: none;
    color: #000;
}
/* #fb-logo{
    width: 400px;
} */